<ul class="nav nav-pills flex-column gap-2">

    <li class="nav-item">
        <a class="nav-link text-white" href="/seller/dashboard">
            <i class="bi bi-speedometer2 me-2"></i>Dashboard
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link text-white" href="/seller/products">
            <i class="bi bi-box-seam me-2"></i>My Products
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link text-white" href="/seller/orders">
            <i class="bi bi-bag-check me-2"></i>Orders
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link text-white" href="/seller/earnings">
            <i class="bi bi-graph-up-arrow me-2"></i>Earnings
        </a>
    </li>

</ul>
