<ul class="nav nav-pills flex-column gap-2">

    <li class="nav-item">
        <a class="nav-link text-white" href="/admin/dashboard">
            <i class="bi bi-speedometer2 me-2"></i>Dashboard
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link text-white" href="/admin/products">
            <i class="bi bi-box-seam me-2"></i>Products
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link text-white" href="/admin/orders">
            <i class="bi bi-cart-check me-2"></i>Orders
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link text-white" href="/admin/categories">
            <i class="bi bi-tags me-2"></i>Categories
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link text-white" href="/admin/users">
            <i class="bi bi-people me-2"></i>Users
        </a>
    </li>

</ul>
